.venv
venv
.env
documentportal.egg-info
venv/
__pycache__/
.ipynb_checkpoints
*.pyc
.DS_Store
.idea/
.vscode/
*.log
data/
test.py
logs/
logs/*.log
document_analysis.db
.pdf
test.py
data/document_compare/*
single_document_chat/tests/test_documents/*
multi_doc_chat/tests/test_documents/*
archive/*
faiss_index/
session_states/
session_states/*.pkl
session_states/*.json
faiss_index/
data/